@page
@model CRUDCustomer.Pages.Customer.CustomerDetailModel
@{
    Layout = null;
}

<form id="frmCustomerDetail">
    <div class="modal-header fw-bold text-center" style="font-size: 24px">
        Thông tin khách hàng
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>

    <div class="modal-body mx-2">
        <div class="d-flex align-items-center mb-3">
            <label class="form-label mb-0 fw-bold" style="width: 80px;">CusID: </label>
            <div class="d-flex flex-column w-100">
                <input id="inpCustCode" class="form-control" type="text" />
                <span id="errorCustCode" class="text-danger mt-1" style="font-size: 15px;"></span>
            </div>
        </div>
        <div class="d-flex align-items-center mb-3">
            <label class="form-label mb-0 fw-bold" style="width: 80px;">Name: </label>
            <input id="inpName" class="form-control" type="text" />
        </div>
        <div class="d-flex align-items-center mb-3">
            <label class="form-label mb-0 fw-bold" style="width: 80px;">SDT: </label>
            <input id="inpPhone1" class="form-control" type="text" />
        </div>
        <div class="d-flex align-items-center mb-3">
            <label class="form-label mb-0 fw-bold" style="width: 80px;">Note: </label>
            <input id="inpNote" class="form-control" type="text" />
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-success px-4" onclick="CreateCustomer()">Lưu</button>
    </div>
</form>

<script>

    var detailCustomerId = '@Model._CurrentID';


    $(document).ready(function () {
        LoadDataUpdateCustomer();
    });

    function LoadDataUpdateCustomer() {
        if (detailCustomerId != "0") {
            request(
                "/Customer/CustomerDetail?handler=LoadDetail",
                { "ID": detailCustomerId },
                true, null,
                function (res) {
                    if (res != "[]" && res != "0") {
                        let data = JSON.parse(res);
                        let item = data[0];

                        $("#inpCustCode").val(item.Cust_Code);
                        $("#inpName").val(item.Name);
                        $("#inpPhone1").val(item.Phone1);
                        $("#inpNote").val(item.Note);
                    }
                }
            );
        }
    }

    function CreateCustomer() {
        let CustCode = $("#inpCustCode").val().trim();
        let Name = $("#inpName").val().trim();
        let Phone1 = $("#inpPhone1").val().trim();
        let Note = $("#inpNote").val().trim();

        if (CustCode == "") {
            $("#errorCustCode").text("Không được để trống mã khách hàng");
            return;
        } else {
            $("#errorCustCode").text("");
        }

        request(
            "/Customer/CustomerDetail/?handler=ExcuteData",
            {
                "ID": detailCustomerId,
                "CurrentId": detailCustomerId,
                "CustCode": CustCode,
                "Name": Name,
                "Phone1": Phone1,
                "Note": Note
            },
            true, null,
            function (response) {
                if (response !== "0") {
                    let data = JSON.parse(response);
                    let item = data[0];

                    if (detailCustomerId == "0") {
                        $('#lstCustomer').prepend(RenderData(item));
                        alert("Tạo khách hàng thành công!");
                    } else {
                        $(`#row_customer_${detailCustomerId}`).replaceWith(RenderData(item));
                        alert("Cập nhật khách hàng thành công!");
                    }

                    if (document.activeElement) {
                        document.activeElement.blur();
                    }
                    $('#mainModal').modal('hide');
                } else {
                    alert("Mã khách hàng có thể đã tồn tại hoặc có lỗi hệ thống!");
                }
            }
        );
    };
</script>