@page
@model CRUDCustomer.Pages.Customer.CustomerListModel
@{
    ViewData["Title"] = "Customer List";
}
<button type="button" class="btn btn-success mb-3" onclick="OpenModal('0')">
    Thêm khách hàng mới
</button>
<div class="d-flex align-items-center mb-2">
    <label class="form-label me-2">Tìm kiếm:</label>
    <input id="inpSearch" class="form-control form-control-sm me-2" style="max-width: 250px" type="text" placeholder="Nhập tên, mã, sđt..." oninput="SearchLocalData()">
</div>
<div class="table-responsive overflow-auto shadow-sm border rounded mb-3" style="max-height: 500px;">
    <table class="table table-hover mb-0">
        <thead class="table-light sticky-top" style="z-index: 1;">
            <tr>
                <th>STT</th>
                <th>Cust_Code</th>
                <th>Name</th>
                <th>SDT</th>
                <th>Ghi chú</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody id="lstCustomer"></tbody>
    </table>
</div>

<div id="waitingDiv" class="waitingdiv text-center my-3" style="display: none">
    <div class="spinner-border text-primary" role="status"></div>
</div>
<div class="text-center mt-3 mb-5">
    <button id="btnLoadMore" class="btn btn-secondary px-5" style="display:none;" onclick="LoadLstCustomer(0,1)">
        Xem thêm
    </button>
</div>

<div class="modal fade" id="mainModal" tabindex="-1">
    <div class="modal-dialog modal-lg bg-white">
        <div class="modal-content" id="mainModalContent">
            <div class="text-center p-4">
                <div class="spinner-border text-primary" role="status"></div>
                <div class="mt-2">Đang tải form...</div>
            </div>
        </div>
    </div>
</div>


@Html.AntiForgeryToken()

@section Scripts{
    <script>
        let limit = 10;
        //This valiable use for save last CustomerId in dataList to use in SP to Select Customer next this ID
        let beginID = 0;
        let dataList = [];
        //Use for open modal to Edit item
        let currentEditID = 0;
        let isDoneLoadMore = false;


        $(document).ready(function () {
            LoadLstCustomer(0, 0);
        });

        function request(url, data, async, error, success, before, complete) {
            let ajaxConfig = {
                type: "POST",
                url: url,
                data: data,
                async: async,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("RequestVerificationToken",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                    if (before) before();
                },
                success: function (response) {
                    if (success) success(response);
                },
                error: function (err) {
                    if (error) error(err);
                    else console.error("Ajax Error:", err);
                },
                complete: function () {
                    if (complete) complete();
                }
            };

            if (data instanceof FormData) {
                ajaxConfig.processData = false;
                ajaxConfig.contentType = false;
            }

            $.ajax(ajaxConfig);
        };

        function LoadLstCustomer(currentId = 0, isLoadMore = 0) {
                
                if(currentId == 0 && isLoadMore == 0){
                    beginID = 0;
                    dataList = [];
                    isDoneLoadMore = false;
                    $('#lstCustomer').empty();
                };

                request(
                    url = "/Customer/CustomerList/?handler=LoadDataList"
                    ,
                    data =
                    {
                        "beginID": beginID
                        , "Limit": limit 
                        , "CurrentID": currentId
                    }
                    , async = true
                    , error = null
                    , success = function (result) {
                        if (result != "[]") {
                            let data = JSON.parse(result);
                            
                            if (currentId == 0) {
                                dataList = dataList.concat(data);

                                //Update beginID
                                beginID = data[data.length - 1].ID;

                                RenderData(data, "lstCustomer")
                                UpdateSTT();

                                if (data.length < limit) {
                                    $("#btnLoadMore").hide();
                                    isDoneLoadMore = true;
                                } else {
                                    $("#btnLoadMore").show();
                                }
                            } else {
                                if (data && data.length != 0) {
                                    //Case edit: Update Item in dataList and <tr>
                                    if ($('#row_customer_' + currentId).length > 0) {
                                        let index = dataList.findIndex(x => x.ID == data[0].ID);
                                        if (index !== -1) dataList[index] = data[0];
                                        $(`#row_customer_${data[0].ID}`).replaceWith(RenderItem(data[0]));
                                        UpdateSTT();
                                    } else
                                    {
                                        //Case Insert: Push new item head of dataList and <tr>
                                        dataList.push(data[0]);
                                        $('#lstCustomer').prepend(RenderItem(data[0]));
                                        UpdateSTT();
                                    }
                                }
                            }
                        } else if (result == "[]") {
                            
                            //Load More
                            if (isLoadMore == 1) 
                            {
                                isDoneLoadMore = true;
                            }
                            if (currentId != 0) 
                            {
                                if ($('#row_customer_' + currentId).length > 0) 
                                {
                                    dataList = dataList.filter(x => x.ID != currentId);
                                    $('#row_customer_' + currentId).remove();
                                    UpdateSTT();
                                }
                            }

                        } else {
                            alert("Có lỗi xảy ra từ máy chủ.");
                        }

                    }
                    , before = function (){
                        $("#waitingDiv").show();
                    }
                    , complete = function (){
                        $("#waitingDiv").hide();
                    }
                )
            };

            function RenderData (data, id) {
                let tbody = $('#' + id);

                if (tbody != null && data && data.length > 0) {
                    let htmlRowsData = '';
                    for (let i = 0; i < data.length; i++) {
                        htmlRowsData += RenderItem(data[i]);
                    }

                    tbody.append(htmlRowsData);
                }
            }

            function RenderItem(item) {
                try {
                    let tr = `
                            <tr id="row_customer_${item.ID}" class="customer-row" data-ID="${item.ID}">
                                        <td class="stt-column"></td>
                                <td>${item.Cust_Code}</td>
                                <td>${item.Name || ""}</td>
                                <td>${item.Phone1 || ""}</td>
                                <td>${item.Note || ""}</td>
                                <td>
                                    <Button type="button" class="btn btn-warning" onclick="OpenModal('${item.ID}')">Sửa</Button>
                                    <Button class="btn btn-danger" onclick="DeleteCustomer(event, '${item.ID}', '${item.Cust_Code}')" >Xóa</Button>
                                </td>
                            </tr>
                    `;
                    return tr;
                }
                catch (ex) {
                    return ''
                }
            };

        function DeleteCustomer(e, ID, CustCode) {
            //Chặn mở modal khi nhấn vào button xóa vì sự kiện mở modal(click) được gán vào thẻ tr
            e.stopPropagation();

            let isConfirm = confirm("Bạn muốn xóa khách hàng có mã: " + CustCode + " không ?");

            if (isConfirm){
                request
                (
                    url = "/Customer/CustomerList/?handler=DeleteItem"
                    , data = { "ID": ID }
                    , async = true
                    , error = null
                    , success = function (result) {
                        if (result != "0") {

                            alert("Xóa khách hàng " + CustCode + " thành công!");
                            LoadLstCustomer(ID, 0);
                        }
                    }
                    , before = null
                    , complete = null
                )
            }
        };

        function OpenModal(id) {
            currentEditID = id;

            $('#mainModal').modal('show');

            $('#mainModalContent').load('/Customer/CustomerDetail?CurrentID=' + id, function (response, status) {
                if (status === "error") {
                    alert("Lỗi không thể tải được form!");
                    $('#mainModal').modal('hide');
                }
            });
        };

        function SearchLocalData() {
            let keyword = $("#inpSearch").val().toLowerCase().trim();

            if (keyword === "") {
                // Trả về dữ liệu gốc
                
                RenderData(dataList, "lstCustomer");
                if (!isDoneLoadMore) $("#btnLoadMore").show();
            } else 
            {
                let filtered = dataList.filter(x =>
                    (x.Name && x.Name.toLowerCase().includes(keyword)) ||
                    (x.Cust_Code && x.Cust_Code.toLowerCase().includes(keyword))
                );

                $("#lstCustomer").empty();

                // Vẽ kết quả lọc
                RenderData(filtered, "lstCustomer");
                $("#btnLoadMore").hide();
            }
        }

        function UpdateSTT() {
            $('#lstCustomer tr').each(function (index) {
                $(this).find('td.stt-column').text(index + 1);
            });
        }

    </script>
}
